*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    /* background-color: #F9F9F9; */
}

.container{
    height: 70vh;
    margin-top: 5rem !important;
}

.heading-1{
    /* display: block; */
    margin: 2rem 0;
}

.heading-1--primary{
    font-size: 4rem;
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

.heading-2{
    margin: 2rem;
}

.heading-2--secondary-1{
    display: block;
    font-family: 'Pangolin', cursive;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: .8rem;
}

.heading-2--secondary-2{
    display: block;
    font-family: 'Pangolin', cursive;
    font-size: 1.6rem;
    font-weight: 300;
}

form{
    margin: 0 38rem 1.5rem 2.1rem;
}

.pop{
    margin: 0 0 1.5rem 2.1rem;
}

#message-1{
    display: block;
    color: #414141;
    font-family: 'Pangolin', cursive;
    font-size: 1.6rem;
    font-weight: 300;
}

#message-2{
    display: block;
    color: #414141;
    font-family: 'Pangolin', cursive;
    font-size: 1.6rem;
    font-weight: 300;
}

footer{
    text-align: center;
    color: #414141;
    border-top: 1.2px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

.footer__heading{
    font-family: 'Pangolin', cursive;
    font-size: 1.3rem;
}

/* Media queries */
@media only screen and (max-width: 770px) {
    .container{
        margin-top: 3rem !important;
        /* margin-top: 10rem; */
        height: 50vh;
    }
    .heading-1--primary{
        font-size: 2.5rem;
    }
    .heading-2--secondary-1{
        font-size: 1.5rem;
    }
    .heading-2--secondary-2{
        font-size: 1.5rem;
    }

    .container-1{
        margin-right: 2rem;
    }
    
    form{
        margin: 1rem 4rem 1rem 2.1rem;
    }

    #message-1{
        display: block;
        color: #414141;
        font-family: 'Pangolin', cursive;
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    #message-2{
        display: block;
        color: #414141;
        font-family: 'Pangolin', cursive;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .pop{
        margin: 2rem 2rem 1rem 2.1rem;
    }

    footer{
        margin-top: 15rem;
    }
  }

  